body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgba(250, 172, 172, 0.524);

  
}

header {
    height: 15vh;
    width: 100%;
    background-color: rgba(242, 63, 63, 0.735);
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

#games {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.game {
    height: 500px;
    width: 400px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.348);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.game:hover {
    transform: scale(1.05);
}

.game img {
    height: 500px;
    width: 400px;
    border-radius: 20px;
}

#content {
    text-align: center;
    position: absolute;
    display: none;
    color: rgb(255, 251, 0);
    font-size: 30px;
}

.game:hover #content {
    display: block;
    background-color: rgba(0, 0, 0, 0.332);
}

.a {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    display: none;
    color: red;
    font-weight: bolder;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.game:hover .a {
    display: flex;
}

#play {
    position: absolute;
    bottom: 20px;
    background-color: rgb(253, 121, 121);
    border-radius: 30px;
    height: 50px;
    width: 50px;
    transition: background-color 0.3s;
    font-size: 15px;
    color:white;
}

#play:hover {
    background-color: rgb(244, 2, 2);

}

#back {
    background-color: rgb(233, 15, 15);
    border-radius: 20px;
    height: 50px;
    width: 50px;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#back:hover {
    background-color: rgb(180, 10, 10);
}

h4 {
    width: 250px;
    text-align: center;
}
